@model FormModel
@{
    var showErrors = !String.IsNullOrEmpty(Model.EmailError);
}

<div class="form-group my-3" id="inputEmail">
    <label for="email">Email address</label>
    <input 
        name="email"
        type="email"
        class="form-control @(showErrors ? "error" : "")"
        id="email"
        placeholder="Enter email"
        hx-put="@Url.Action("InputEmail")"
        hx-trigger="blur"
        hx-target="#inputEmail"
        hx-swap="outerHTML"
        value="@Model.Email"
    >
    @if(showErrors)
    {
        <div class="error mt-1 error">
            @Model.EmailError
        </div>
    }
    
</div>