@model FormModel

<div class="form-group my-3">
    <label for="password">Password</label>
    <input 
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
        required
        value="@Model.Password"
    >
</div>