@model FormModel

<div class="form-group my-3" id="inputEmail">
    <label for="email">Email address</label>
    <input 
        name="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        required
        hx-put="@Url.Action("InputEmail")"
        hx-trigger="blur"
        hx-target="#inputEmail"
        hx-swap="outerHTML"
        value="@Model.Email"
    >
</div>