@model FormModel

<div class="form-group my-3">
    <label for="email">Email address</label>
    <input 
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        required
        value="@Model.Email"
    >
</div>