@model FormModel
@{
    var showErrors = !String.IsNullOrEmpty(Model.NameError);
}

<div class="form-group my-3" id="inputName">
    <label for="name">Name</label>
    <input 
        name="name"
        type="text"
        class="form-control @(showErrors ? "error" : "")"
        id="name"
        placeholder="Enter name"
        hx-put="@Url.Action("InputName")"
        hx-trigger="blur"
        hx-target="#inputName"
        hx-swap="outerHTML"
        value="@Model.Name"
    >
    @if (showErrors)
    {
        <div class="error mt-1 error">
            @Model.NameError
        </div>
    }
</div>