@model FormModel
@{
    var showErrors = !String.IsNullOrEmpty(Model.PasswordError);
}

<div class="form-group my-3" id="inputPassword">
    <label for="password">Password</label>
    <input 
        name="password" 
        type="password"
        class="form-control @(showErrors ? "error" : "")"
        id="password"
        placeholder="Enter password"
        hx-put="@Url.Action("InputPassword")"
        hx-trigger="blur"
        hx-target="#inputPassword"
        hx-swap="outerHTML"
        value="@Model.Password"
    >
    @if(showErrors)
    {
        <div class="error mt-1 error">
            @Model.PasswordError    
        </div>
    }
</div>